html {
  height: 100%;
  background-color: #1a1a1a;
  color: #ffffff;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
  
.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: min-content;
  height: min-content;
}

a {
  display: block;
}

.clickable:hover {
  color: #aba4a4;
  cursor: pointer;
}

h1 {
  white-space: nowrap;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: one;
  transform-origin: 70% 70%;
  display: inline-block;
}

.wave:hover {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: one;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
